/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
.DS_Store
.consulo/
*.opendb
*.VC.db
*.pidb.meta
/Assets
/Library
